<ng-template ngFor let-plot [ngForOf]="plots" let-i="index">
  <nz-card>
    <div class="plotContainer">
      <div class="plotName">{{plot.Name}}</div>
<!--       <button style="height: 50px; width: 50px; background-color: #1890ff; color: white;" nz-button nzType="default" nzShape="circle"><i
          class="freeSpacesInteger"></i>{{plot.ParkingSpaces}}</button> -->
      <button [ngStyle]="plot.FreeSpaces > 0 ? {'background-color': '#52c41a'} : {'background-color': '#f5222d'}" style="height: 50px; width: 50px; color: white;" nz-button nzType="default" nzShape="circle"><i
          class="freeSpacesInteger"></i>{{plot.FreeSpaces}}</button>
      <button (click)="openWayPoint()" style="float:right; height: 50px; width: 50px; background-color: #fff; color: #000;" nz-button nzType="default" nzShape="circle"><i class="anticon anticon-environment-o"></i></button>
      <!--     <button style="height: 50px; width: 50px; background-color: #f5222d; color: white;" nz-button nzType="default" nzShape="circle"><i
        class="freeSpacesInteger"></i>367</button> -->
      <div style="text-align:center;">
        <p class="parkingCost">{{plot.ParkingCost}}</p>
      </div>
    </div>
  </nz-card>
</ng-template>
<!-- <button (click)="printParkingPlotsArray()">Print Plots</button> -->
<nz-back-top></nz-back-top>