button {
    margin: 5px;
}

.header {
    text-align: center;
    padding-top: 3px;
    padding-bottom: 15px;
    background-color: #002766;
    // border-bottom: 3px solid black;
}

.logotype {
    color: white;
    width: auto;
    font-size: 24px;
    // font-weight: 600;
}