<nz-affix>
  <div class="header">
    <button style="float:left;" nz-button nzType="primary" nzShape="circle" (click)="refreshParkingPlots()"><i
        class="anticon anticon-sync"></i></button>
    <span class="logotype">OpenParking GBG</span>
    <button style="float:right;" nz-button nzType="primary" nzShape="circle" (click)="showModal()"><i class="anticon anticon-question"></i></button>
  </div>
</nz-affix>

<nz-modal [(nzVisible)]="isVisible" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <p>me@antonpettersson.se</p>

    <ng-template #modalFooter>
        <button style="width: 100%;" nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading"><i class="anticon anticon-check"></i></button>
      </ng-template>
</nz-modal>