/* You can add global styles to this file, and also import other style files */

@import '../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css';

body {
    background-color: #fff;
}

.ant-card-body {
    padding: 10px;
}